@import "../../variables.scss";
@import "../../mixins.scss";

.dialog {
  position: relative;
  .button-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    @include sm { top: 1.2rem; }
  }
}

.comments {
  padding: 1rem;
  @include sm {
    padding: 2rem;
  }
}

h2 {
  padding-bottom: 2rem;
}