<div class="dialog">
  <div class="comments">
    <div class="comments__header">
      <h2>Réagit à ce Touit !</h2>
      <button class="button-close" (click)="onCloseDialogComments()">
        <span class="material-icons">close</span>
      </button>
    </div>
    <app-touit [touit]="data.touit" [isTouitCommentsChild]="data.isInTouitComments"></app-touit>
    <div class="comment_form">
      <form *ngIf="commentForm" [formGroup]="commentForm" (ngSubmit)="onSubmitCommentForm()">
        <!-- COMMENT -->
        <mat-form-field appearance="fill">
          <mat-label>Commentaire</mat-label>
          <textarea matInput formControlName="comment"></textarea>
          <mat-error *ngIf="commentForm.get('comment')?.hasError('required')">
            Comment is <strong>required</strong>.
          </mat-error>
          <mat-error *ngIf="commentForm.get('comment')?.hasError('minlength')">
            Comment <strong>must</strong> have at least <strong>3</strong> characters.
          </mat-error>
          <mat-error *ngIf="commentForm.get('comment')?.hasError('maxlength')">
            Comment <strong>must</strong> be less than <strong>256</strong> characters long.
          </mat-error>
        </mat-form-field>
        <!-- SUBMIT BUTTON -->
        <div class="submit-container">
          <button mat-raised-button color="primary" [disabled]="!isCommentFormValid()">
            <span>Envoyer</span>
            <span class="material-icons">send</span>
          </button>
        </div>
      </form>
    </div>
    <div class="comments__list" *ngIf="comments!.length > 1">
      <h2>{{ "Commentaires (" + comments.length + ")" }}</h2>
      <app-alert></app-alert>
      <app-comment *ngFor="let c of comments" [comment]="c" [touit]="data.touit"></app-comment>
    </div>
  </div>
</div>