@import "../variables";
@import "../mixins";

header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    button {
      margin-left: 1rem;
    }
  }

  a {
    display: block;
    padding: 2rem 1rem;
  }
}