<header *ngIf="authenticationData && authenticationData.isAuthenticated">
  <div class="container">
    <div class="navbar">
      <h1>{{ appTitle }}</h1>
      <button 
        class="navbar__button"
        (click)="onClickMenuButton()"
        [ngClass]="{ crossed: isMenuOpen }"
        *ngIf="screenWidth && screenWidth < 1200"
        >
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul 
        class="navbar__links"
        [ngStyle]="{ 'transform': isMenuOpen ? 'scale(1)' : 'scale(0)'}"
        >
        <li><a (click)="onOpenDialog()">Touit</a></li>
        <li><a routerLink="/list">Tous les Touits</a></li>
        <li><a routerLink="/bestof">Les meilleurs Touits</a></li>
        <li><a href="#">Influenceurs</a></li>
        <li><a href="#">Tendance</a></li>
        <li>
          <button mat-raised-button color="primary" (click)="logout()">
            <span>Déconnexion</span>
            <span class="material-icons">logout</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>

<main [ngClass]="{'main-login-route': onLoginRoute, 'main-registration-route': onRegistrationRoute}">
  <div class="container">
    <app-alert *ngIf="authenticationData?.isAuthenticated && isAlertVisible"></app-alert>
    <router-outlet></router-outlet>
  </div>
</main>