<div class="publication">
  <!-- touit publication header -->
  <div class="publication__header">
    <h2>Ecris ton Touit !</h2>
    <button class="button-close" (click)="onCloseDialogTouitPost()">
      <span class="material-icons">close</span>
    </button>
  </div>
  <!-- touit publication body -->
  <div class="form-container">
    <form *ngIf="touitPostForm" [formGroup]="touitPostForm" (ngSubmit)="onTouitPublication()">
      <!-- USERNAME -->
      <mat-form-field appearance="fill">
        <mat-label>Pseudonyme</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <!-- MESSAGE -->
      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message"></textarea>
        <mat-error *ngIf="touitPostForm.get('message')?.hasError('required')">
          Message is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="touitPostForm.get('message')?.hasError('minlength')">
          Message <strong>must</strong> be at least <strong>3</strong> characters long
        </mat-error>
        <mat-error *ngIf="touitPostForm.get('message')?.hasError('maxlength')">
          Message must be less than <strong>must</strong> characters long
        </mat-error>
      </mat-form-field>
      <app-alert></app-alert>
      <!-- SUBMIT BUTTON -->
      <div class="submit-container">
        <button mat-raised-button color="primary" [disabled]="!isTouitPostFormValid()">
          <span>Touit</span>
          <span class="material-icons">send</span>
        </button>
      </div>
    </form>
  </div>
</div>