@import "../../variables.scss";
@import "../../mixins.scss";

.publication {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
  }
}

.form-container {
  min-height: max-content;
  form {
    width: 100%;
  }
}