<h2>Tous les Touits</h2>

<ng-container *ngIf="wheel">
  <div class="spinner-container">
    <mat-spinner [diameter]="60" [strokeWidth]="2.5"></mat-spinner>
  </div>
</ng-container>

<ng-container *ngIf="touitsList">
  <ul class="touits-container">
    <app-touit *ngFor="let t of touitsListSliced" [touit]="t"></app-touit>
  </ul>
  <mat-paginator [length]="touitsList.length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="onPageChange($event)"
                 aria-label="Select page">
  </mat-paginator>
</ng-container>