@import "./variables.scss";
@import "./mixins.scss";

* { font-family: "Montserrat", sans-serif; }

header {
  position: fixed;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  background-color: map-get($background-colors, primary);
  box-shadow: 0px 5px 20px 20px map-get($background-colors, primary);
}

main {
  padding-top: 11rem;
  &.main-login-route,
  &.main-registration-route {
    padding-top: 0;
  }
}

h1 {
  color: map-get($text-colors, title-1);
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

h3 {
  font-size: 1.4rem;
  @include sm { font-size: 1.4rem; }
  @include xl { font-size: 1.6rem; }
}

a, p, div, button[mat-raised-button] {
  font-size: 1.2rem;
  @include sm { font-size: 1.4rem; }
  @include xl { font-size: 1.6rem; }
}

button[mat-raised-button] .material-icons {
  margin-left: 0.5rem;
}

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  span {
    color: map-get($text-colors, error);
  }
}

mat-form-field {
  display: block !important;
  margin-bottom: 0.6rem;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @include lg { max-width: calc(62em - 3rem); }
  @include xl { max-width: calc(75em - 3rem); }
  @include xxl { max-width: calc(87.5em - 3rem); }
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  form {
    width: 100%;
    @include sm { width: 50%; }
    @include lg { width: 35%; }
    @include xl { width: 25%; }
  }
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}

.mat-error {
  font-size: 0.8rem;
  @include sm { font-size: 1rem; }
}

.registry-login-link {
  position: absolute;
  bottom: 4rem;
  a { margin-left: 1rem; }
}

.alert-container {
  width: 100%;
  @include sm { width: 50%; }
  @include lg { width: 35%; }
  @include xl { width: 25%; }
}

ul.touits-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include sm {
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  @include md {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
  @include xl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.comments-dialog-container .mat-dialog-container {
  padding: 0;
}

.publication, .comments {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
  }
}