// SCREEN SIZE
$sm: 36em; // Breakpoint 576px
$md: 48em; // Breakpoint 768px
$lg: 62em; // Breakpoint 992px
$xl: 75em; // Breakpoint 1200px

// COLORS
$text-colors: (
    primary: #242424,
    primary-hover: #000000
);

$background-colors: (
    primary: #FFFFFF,
    gray-touit: #F7F7F7
);


