// SCREEN SIZE
$sm: 36em; // Breakpoint 576px
$md: 48em; // Breakpoint 768px
$lg: 62em; // Breakpoint 992px
$xl: 75em; // Breakpoint 1200px
$xxl: 87em; // Breakpoint 1400px

// COLORS
$text-colors: (
    primary: #242424,
    primary-hover: #000000,
    title-1: #1E88E5,
    gray-1: #5C5C5C,
    gray-1-hover: #000000,
    header-link-text: #1E88E5,
    white: #FFFFFF,
    success: #00B490,
    error: #F44336
);

$background-colors: (
    primary: #FFFFFF,
    secondary: #1E88E5,
    tertiary: #F4F4F4,
    success: #EDFFF9,
    error: #FFF6F6
);

$border-colors: (
    default: #D5D5D5,
    success: #00B490,
    error: #F44336,
    comment-header: #E6E6E6
);

// BORDERS
$radius: (
    default: 4px,
    large: 10px
);

// BARS-WIDTH BURGER BUTTON
$bar-width: 2px;

// TRANSITIONS
$transition: all 250ms ease-in-out;

// SHADOWS
$shadows: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
